<div class="container" style="border-bottom: 0px; height: 50px;">
    <div class="item input-group">
        <input type="text" placeholder="Search...">
        <div class="input-group-btn">
            <button class="btn btn-default searchBtn">
                <i class="fas fa-search "></i>
            </button>
        </div>
    </div>
    <button class="item btn btn-default addBtn" style="max-width: 90px;">ADD
        <i class="fas fa-plus"></i>
    </button>
</div>
<div class="container" style="color: #CF2212; font-size: 30px">
    <div class="item">NAME</div>
    <div class="item">ADDRESS</div>
    <div class="item">OPENDAY</div>
</div>
<div class="container" *ngFor="let department of departments">
    <div class="item data name">{{ department.name | uppercase }}</div>
    <div class="item data address">{{ department.address }}</div>
    <div class="item data dayStart">{{ department.name | uppercase }}</div>
    <div class="item data action">
        <button class="delBtn" (click)='changeToGrid()'>
            <i class="fas fa-trash-alt"></i>
        </button>
        <button class="editBtn" (click)='changeToList()'>
            <i class="fas fa-edit"></i>
        </button>
    </div>
</div>