<app-header></app-header>
<ng-sidebar-container style="height: 100vh;">
 
  <!-- A sidebar -->
  <ng-sidebar
  [(opened)]="_opened" [(dock)]="_docked" [(dockedSize)]="_dockedSize" [(mode)]="_mode">
    <button (click)="_toggleSidebar()">SIDEBAR<i class="fas fa-bars fa-2x"></i></button>
    <p>DASHBOARD <i class="fas fa-chart-pie fa-2x"></i></p>
    <p (click)='depart()'>DEPARTMENTS <i class="fas fa-project-diagram fa-2x"></i></p>
    <p (click)='employ()'>EMPLOYEES <i class="fas fa-user-friends fa-2x"></i></p>
  </ng-sidebar>

  <!-- Page content -->
  <div ng-sidebar-content class="content">
    <router-outlet></router-outlet>
  </div>

</ng-sidebar-container>
